$bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
:host {
  @apply font-body;
}

.back {
  @apply mb-12 max-w-[21rem] font-body text-lg text-gray-400 cursor-pointer px-4 md:px-32 no-underline relative before:absolute before:bg-orange-700 before:w-0 before:h-[2px] before:bottom-0 hover:before:w-[4.5rem] before:transition-all before:duration-500 before:ease-in-out;
}

.product-detail {
  @apply md:px-32 px-4; //side gutter

  .product {
    @apply flex md:flex-row flex-col justify-evenly mb-32;
    .img-wrapper {
      @apply md:w-1/2 flex justify-center items-center bg-gray-200 rounded py-16 mb-8 md:mb-0;
      img {
        @apply lg:max-h-64 object-cover ; //setting product image size
      }
    }
    .product-info {
      @apply flex justify-center flex-col md:w-1/2 md:ml-32; 

      h3 {
        @apply font-bold text-2xl md:text-4xl mb-8;
      }
      p {
        @apply lg:max-h-96 line-clamp-3 mb-6 text-gray-400 text-sm;
      }

      .price {
        @apply font-bold text-xl mb-8 text-neutral-900;
      }
      .into-cart{
        @apply flex items-center md:justify-start justify-center font-body;
        .quantity-button{
          @apply bg-gray-200 py-4 px-6 hover:text-orange-500 cursor-pointer font-bold text-lg text-gray-400;
        }
        .quantity{
          @apply py-4 px-6 text-neutral-400 bg-gray-200 font-normal text-lg
        }
      }

      .detail-button {
        @apply relative ml-8 bg-orange-400  text-orange-50 font-bold py-4 px-6 max-w-fit uppercase text-sm cursor-pointer before:bg-white before:h-0 before:absolute before:w-full before:left-0 before:top-0 before:bg-opacity-20 hover:before:h-full before:transition-all before:duration-500 before:ease-in-out;
      }
    } // end product info
  } //end product

  .product-features{
      @apply flex md:flex-row flex-col md:text-left  justify-center md:justify-evenly mb-32 items-center;
      h3{
        @apply font-bold text-3xl mb-8 uppercase text-center;
      } 

      .features{
          @apply mr-0 md:mr-12 md:w-4/5 text-center mb-8 md:mb-0;
      }

      .contents{
          @apply ml-0 md:ml-12 md:w-3/5;
          span {
            @apply font-bold font-body text-orange-500 mr-6;
          }
      }
  }//end of product features
}//end product detail
.recommended{
  @apply md:px-32 px-4; 
  h3{
    @apply font-bold text-3xl mb-8 uppercase text-center;
  }
}
.recommended-elements{
  @apply flex md:flex-row flex-col mb-32 items-center justify-center md:gap-8;

  .element{
    @apply flex flex-col justify-center items-center md:w-1/3;
    
    .img-wrapper {
      @apply w-full h-full flex justify-center items-center min-h-full bg-gray-200 m-4 py-4;
      img {
        @apply lg:max-h-64 object-scale-down py-4  rounded; //setting product image size
      }
    }
    .text-wrapper{
      @apply w-1/2 flex justify-center items-center mt-8;
      p{
        @apply  text-neutral-900 font-black text-lg line-clamp-1 tracking-tighter;
      }
      
    }
    
    .detail-button{
      @apply relative bg-orange-400  text-orange-50 font-bold py-4 px-6 max-w-fit uppercase text-sm cursor-pointer before:bg-white before:h-0 before:absolute before:w-full before:left-0 before:top-0 before:bg-opacity-20 hover:before:h-full before:transition-all before:duration-500 before:ease-in-out;
    }
   
  }
   
 
}
  


//loading spinner styles auto-generated
.loading-image {
  @apply w-full h-full flex justify-center;
}

@keyframes ldio-dcuowe6ogia {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-dcuowe6ogia div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-dcuowe6ogia linear 1.8518518518518516s infinite;
  background: #d88c51;
  width: 12px;
  height: 24px;
  border-radius: 6px / 8.16px;
  transform-origin: 6px 52px;
}
.ldio-dcuowe6ogia div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.6975308641975309s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1.5432098765432098s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -1.3888888888888888s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -1.2345679012345678s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -1.0802469135802468s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.9259259259259258s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.7716049382716049s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.6172839506172839s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.4629629629629629s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.30864197530864196s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.15432098765432098s;
  background: #d88c51;
}
.ldio-dcuowe6ogia div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #d88c51;
}
.loadingio-spinner-spinner-7lpuls74m78 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}
.ldio-dcuowe6ogia {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dcuowe6ogia div {
  box-sizing: content-box;
}
