<div class="container" (mouseenter)="bounce('clothes')" >
    <img id="clothes" src="assets/images/1.png" alt="">
    <p class="title">clothes</p>
    <p class="shop" routerLink="clothes">shop <span>></span></p>
</div>
<div class="container" (mouseenter)="bounce('electronics')" >
    <img id="electronics" src="assets/images/13.png" alt="">
    <p class="title">Electronics</p>
    <p class="shop" routerLink="electronics">shop <span>></span></p>
</div>
<div class="container" (mouseenter)="bounce('jewelery')" >
    <img id="jewelery" src="assets/images/5.png" alt="">
    <p class="title">Jewelery</p>
    <p class="shop" routerLink="jewelery">shop <span>></span></p>
</div>
