<nav>
    <div class="logo">Shopaholic</div>
    <div class="menus">
        <div routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="getCategory()">Home</div>
        <div routerLink="/clothing" routerLinkActive="active" (click)="expander();getCategory()">Clothing</div>
        <div  routerLink="/electronics" routerLinkActive="active" (click)="expander();getCategory()">Electronics</div>
        <div routerLink="/jewelery" routerLinkActive="active" (click)="expander();getCategory()">Jewellery</div>
    </div>
    <div>
        <img src="/assets/icons/icon-cart.svg" alt="">
    </div>
</nav>
<header [@expandContract]="expand?'expanded':'contracted'" >
    <div>
        <h2 [@fadeIn]="expand">{{categorySelected}}</h2>
    </div>
</header>
