


<nav>
    <div class="logo" routerLink="">Shopaholic</div>
    <div class="menus">
        <div routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</div>
        <div routerLink="/clothing" routerLinkActive="active">Clothing</div>
        <div routerLink="/electronics" routerLinkActive="active">Electronics</div>
        <div routerLink="/jewelery" routerLinkActive="active">Jewellery</div>
    </div>

    <section>
        <div class="user-nav" *ngIf="user!==null">

            <div class="welcome" [matMenuTriggerFor]="menu">

                <p><span> {{user.displayName ?? user.email}}</span></p>
                <div class="profile">
                    <img src="{{user.photoURL}}" alt="" >
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>Profile</button>
                        <button mat-menu-item (click)="signOut()">Sign out</button>
                    </mat-menu>

                </div>
            </div>
        </div>
        <div class="user-nav" *ngIf="user===null">

            <div class="welcome">

                <p><span (click)="openLogin()">login</span></p>
                <div class="profile">
                    <mat-icon >account_circle</mat-icon>
                    
                    

                </div>
            </div>
        </div>


        <div class="cart">
            <div class="cart-quantity" *ngIf="items > 0">{{items$ |async}}</div>
            <img (click)="openCart()" src="/assets/icons/icon-cart.svg" alt="">
        </div>
    </section>
</nav>