<nav>
    <div class="logo">Shopaholic</div>
    <div class="menus">
        <div routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</div>
        <div routerLink="/clothing" routerLinkActive="active" >Clothing</div>
        <div  routerLink="/electronics" routerLinkActive="active" >Electronics</div>
        <div routerLink="/jewelery" routerLinkActive="active" >Jewellery</div>
    </div>
    <div>
        <img src="/assets/icons/icon-cart.svg" alt="">
    </div>
</nav>
