<div class="store-info">
    <div class="store-detail">
        <h2 class="info-title">Bringing you the <span>best</span> shopping experience</h2>
        <div class="info-description">
            <p>
                Shopaholic is a leading shopping store that offers a wide range of products across many categories.
                We have a wide variety of products that are designed and crafted with great care to the detail to meet even the most demanding of your needs.
            </p>
            <p>
                Come visit us in the center of Barcelona and meet some of the fantastic people that make shopaholic a great place to shop.
            </p>
    
        </div>
    </div>
    <img class="shopping-image" src="assets/images/shopping.png" alt="">
</div>

        
